@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&display=swap');
.main{
    margin:2rem 1rem;
}
.landing{
    position:relative;
    font-family:"Quicksand",sans-serif;
    background-color: rgb(34,34,34);
    color:rgb(245,245,255);
    height:93vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:3.2rem;
    font-weight:800;
}

.main div span{
    font-weight:900;
    color: rgb(255, 153, 102);
}
.landing > .button{
    width:8rem;
    height:3.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,  rgb(255, 153, 102), rgb(255, 94, 98)); /* Example gradient colors */
    color: white; /* Text color */
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border-radius:0.3rem;
}
img{
    width:2.3rem;
    height:2.3rem;
}

@media(max-width:500px){
    .main{
        font-size:x-large;
    }
}
@media(max-width:376px){
    .main{
        display:flex;
        align-items:flex-start;
        font-size:xx-large;
    }
}